.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
test_label/**


# 排除docs目录，只保留图标
docs/**
!docs/images/icon.png
!docs/images/icon.svg

# 其他不需要的文件
.github/**
CHANGELOG.md